

.card {

    position: relative;

    transition: all 0.2s;

    &.upsidedown img {
        transform: rotate(180deg);
    }


    &.mini{
        & > img {
            height: 44px;
            width: 31px;
        }
    }

    &.small {
         & > img {
             height: 88px;
             width: 63px;
         }
    }

    &.normal {
        & > img {
            height: calc(88px * 2);
            width: calc(63px * 2);
        }
    }

    &.large {
        & > img {
            height: calc(88px * 3);
            width: calc(63px * 3);
        }
    }

    &.extralarge {
        & > img {
        height: calc(88px * 4);
        width: calc(63px * 4);
        }
    }

}

//
//.card {
//    position: relative;
//    width: 100%;
//    height: 100%;
//    top: 0;
//    left: 0;
//    transition: 0.1s ;
//    opacity: 1;
//    z-index: 5;
//}
//
//.card.upsidedown img {
//    transform: rotate(180deg);
//}
//
//.deck > .card:hover {
//    top: 10px;
//    cursor: pointer;
//}
//
//
//.deck > .card.drawing {
//    top: 400px;
//    z-index: 10;
//    opacity: 0;
//    transition: all 1s ease-out;
//}
//
//.deck > .dummyDrawCard {
//    position: fixed;
//    top: 250px;
//    left: 10px;
//
//    width: calc(63px * 4);
//    height: calc(88px * 4);
//
//    transition: all 0.4s;
//    opacity: 1;
//}
//
//.deck > .dummyDrawCard.drawing {
//    top: 700px;
//    left: 50%;
//
//    opacity: 0.5;
//}
//
//.selectedcard {
//    position: fixed;
//    top: calc(50% - 176px);
//    right: 10px;
//    width: calc(63px * 4);
//    height: calc(88px * 4);
//
//    box-shadow: 0 0 40px 20px rgba(0,0,0,0.5);
//
//    transition: all 0.5s;
//}
//
//.selectedcard div.selectedside {
//    position: absolute;
//    top: -50px;
//    left: 0;
//    width: 100%;
//    height: 50px;
//
//    background-color: #333333;
//
//    color: white;
//    font-family: "Impact";
//    font-size: 24px;
//    padding-right: 20%;
//
//    display: flex;
//    justify-content: center;
//    align-items: center;
//
//    border-top-left-radius: 40% 50px;
//    border-top-right-radius: 60% 50px;
//}
//
//
//.zoomedcard {
//    position: fixed;
//
//    width: calc(63px * 6);
//    height: calc(88px * 6);
//
//    top: calc(50% - (88px * 3));
//    left: calc(50% - (63px * 3));
//
//    z-index: 500;
//
//    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.5);
//
//}
