@import url('https://fonts.googleapis.com/css?family=Saira+Condensed');

$p1Color: red;
$p2Color: green;
$p3Color: blue;
$p4Color: yellow;

$typeAColor: #FF8000;
$typeBColor: #8000FF;
$typeCColor: #808080;
$typeDColor: #FF80FF;

$mainFont: "Saira Condensed", sans-serif;
$fontSize: 16px;